body{
    background-color: #Fff;
    font-family: lato, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo{
    color: white;
    font-family:'Audiowide', sans-serif;
    text-decoration-line: underline;
}
.logo:hover{
    color:#a3ccf5;
    cursor: pointer;
}
header{
    background-color: #0b5394;
    width: 100%;
    position: fixed;
    z-index: 23;
    text-align: center;
}
.toggle-btn{
    display: none;
}
.toggle-btn:checked ~ nav{
    display: block;
}
.toggle-btn-label{
    color: white;
    font-weight: bold;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 1em;
}

nav{
    position: absolute;
    left: 0;
    top: 100%;
    background-color: #0b5394;
    width: 100%;
    display: none;
    z-index: 1;
}
nav ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
nav li{
    margin-bottom: 1em;
}
nav a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
nav a:hover{
    color: white;
}
.reg {
    display: none;
}
@media screen and (min-width: 768px){
    .toggle-btn-label{
        display: none;
    }
    header{
        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 1fr) 1fr;
    }
    nav{
        all:unset;
        grid-column: 3 / 4;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    nav ul{
        display: flex;
        gap: 15px;
    }
    nav li {
        margin-bottom: 0;
    }
    .reg {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-right: 2em;
    }
    .reg ul{
        display: flex;
        gap: 15px;
    }
    
    .reg li {
        margin-bottom: 0;
        list-style-type: none;
    }
    #a1{
        text-decoration: none;
        color: white;
        font-weight: bold;
        padding: 8px;
    }
    #a1:hover{
        
        border-radius: 25px;
        background-color: rgb(255, 255, 255,.5);
    }
    #a2{
        color: rgb(255, 255, 255); 
        text-decoration: none;
        border: 2px solid rgb(84, 171, 206);
        border-radius: 25px;
        padding-left: 15px;
        padding-right: 15px;
        padding: 8px;
        font-weight: bold;
    }
    #a2:hover{
        
        background-color: rgb(84, 171, 206);
    }
}
.first-container{
    padding-top: 50px;
}
.grid-container-1{
    display: grid;
    place-items: center;
    padding-left: 25px;
    text-wrap: balance;
    gap: 25px;
}
.box h1{
    color: #0d134c;
}
.box h4{
    color: #0d134c;
}
.box img {
    width: 90%;
    border-radius: 8px;
    margin-top: 1.5em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.left-item{
    display: block;

}
.btn1{
    margin-top: 3em;
}
.btn1 a{
    color: white;
    text-decoration: none;
    background-color: #0b5394;
    padding: 15px;
    border-radius: 30px;
}
.btn1 a:hover{
    background-color: #89c5fb;
}
.box p {
    color: rgb(161, 161, 161);
}
@media screen and (width > 650px) {
    .grid-container-1{
        display: flex;
        justify-content: center;
        padding: 80px;
        gap:100px;
        background-color: none;
        text-align: left;
    }
    
    .box{
        width: 560px;
    }
    .box h1{
        font-size: 3.5rem;
        
    }
    .box img {
        width: 650px;
    }

    .btn1 a{
        padding: 20px;
    }
    
}

/*Images box*/
.four-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 29px;
    background-color: rgb(107, 170, 243);
    justify-content:last baseline;
    margin-top: 8px;
    gap:5px;
}
.img-box{
    text-align: center;
}
.img-box img{
    width: 50px;
}
.img-txt{
    color: white;
    font-weight: bold;
}
@media screen and (width > 650px) {
    .four-box{
        display: flex;
        justify-content:space-evenly;
        line-height: 45px;
    }
}
/*info images*/
.inf-img{
    padding: 15px;
}
.info h3{
    
}
.info{
    padding: 15px;
}
.info img{
    width: 100%;
}
.info-txt h3{
    color: rgb(0, 121, 168);
}
.info-txt h2 h3{
    margin-left: 55px;
}
.info-txt h2{
    font-size: 2rem;
    color: #0d134c;
}

@media screen and (width > 650px) {
    .inf-img{
        text-align: center;
    }
    .img-title{
        width: 350px;
        margin-left: auto;
        margin-right: auto;
    }
    .img-title h1{
        font-size: 2rem;
    }
    .img-cont{
        padding-left: 150px;
        padding-right: 150px;
    }
    
    .info-1-container, .info-2-container, .info-3-container{
        display: flex;
        justify-content:center;
        padding: 1em;
        text-align: start;
        text-wrap: balance;
        gap: 55px;
    }
    .info img{
        width: 350px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .info-2-container{
        display: flex;
        justify-content: space-evenly;
        padding: 4em;
    }
    .info-2-container img{
        order: 1;
    }
    .info-txt{
        width: 50%;
    }
    .info-txt h2{
        font-size: 2.5rem;
        color: #0d134c;
    }
    .info-txt h3{
        color: rgb(0, 121, 168);
    }
    .info li{
        display: flex;
        padding-top: 15px;
        color: rgba(70, 67, 67);
    }
    .info-txt a{
        color: #0079a8;
        font-size: 1.2rem;
    }
    .info-txt a:hover{
        color: #75caec;
    }
}
.info li{
    color: rgba(70, 67, 67);
}
.info-txt li{
    list-style-type: none;
}
/*Footer*/
.foot{
    height: 15vh;
    width: 100%;
    background-color: #2f7abd;
    text-align: center; 
}
.smedia{
    padding-top: 25px;
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 15px;
    padding-bottom: 15px;
}
.foot span{
    color: white;
    font-size: 12px;
}
/*qoute*/
.qoute{
    background-color: rgb(107, 170, 243);
    padding: 35px;
    color: white;
    font-style: italic;
    text-align: center;
    
}
/*3 box images*/
.boxes-cont{
    display: grid;
    grid-template-columns: 1fr;
    background-color: none;
    padding: 35px;
    gap: 5px;
}
.three-box{
    text-align: center;
    border-bottom: 1px solid black;
}
.three-box img{
    width: 150px;
}
.three-box h3{
    color: #0d134c;
}
.three-box p{
    color: rgba(70, 67, 67);
}
@media screen and (width > 650px){
    .qoute{
        padding: 50px;
    }
    .boxes-cont{
        display: flex;
        padding: 70px;
    }
    .three-box{
        border: 1px solid rgba(0, 0, 0, 0.2);
        padding: 25px;
        margin-left: 20px;
        border-radius: 10px;
    }
    
}